In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet(r"C:\Users\Administrator\OneDrive\Desktop\SalesAI\backend\data\features\m5\m5_features.parquet")

In [25]:
df.sample(10)

,id,item_id,dept_id,cat_id,store_id,state_id,d,sales,date,wm_yr_wk,...,sales_ewm_14,sales_ewm_28,time_index,sales_velocity,sales_acceleration,sales_ratio_to_7d_avg,sales_ratio_to_28d_avg,days_since_first_sale,zero_sales_flag,consecutive_zero_days
866326,FOODS_2_008_CA_1_evaluation,FOODS_2_008,FOODS_2,FOODS,CA_1,CA,d,0.0,NaT,NaN,...,0.000000,0.000000,640,0.0,0.0,0.000000,0.000000,0,1,-128
1742707,FOODS_1_142_CA_2_evaluation,FOODS_1_142,FOODS_1,FOODS,CA_2,CA,d,0.0,NaT,NaN,...,0.000000,0.000000,1261,0.0,0.0,0.000000,0.000000,0,1,-19
4654713,FOODS_2_056_CA_4_evaluation,FOODS_2_056,FOODS_2,FOODS,CA_4,CA,d,0.0,NaT,NaN,...,0.000000,0.000000,1767,0.0,0.0,0.000000,0.000000,0,1,-25
4669739,FOODS_2_060_CA_4_evaluation,FOODS_2_060,FOODS_2,FOODS,CA_4,CA,d,0.0,NaT,NaN,...,0.000000,0.000000,1265,0.0,0.0,0.000000,0.000000,0,1,-15
73223,FOODS_1_020_CA_1_evaluation,FOODS_1_020,FOODS_1,FOODS,CA_1,CA,sold,1.0,NaT,NaN,...,1.707127,1.713124,3347,0.0,3.0,0.388889,0.373333,0,0,0
5241582,FOODS_1_116_TX_1_evaluation,FOODS_1_116,FOODS_1,FOODS,TX_1,TX,sold,0.0,NaT,NaN,...,0.589924,0.660502,2454,0.0,0.0,0.000000,0.000000,0,1,4
1580642,FOODS_1_099_CA_2_evaluation,FOODS_1_099,FOODS_1,FOODS,CA_2,CA,sold,10.0,NaT,NaN,...,6.698353,6.233806,2240,6.0,9.0,1.186441,1.414141,0,0,0
2733140,FOODS_1_087_CA_3_evaluation,FOODS_1_087,FOODS_1,FOODS,CA_3,CA,d,0.0,NaT,NaN,...,0.000000,0.000000,1784,0.0,0.0,0.000000,0.000000,0,1,-8
3763054,FOODS_1_043_CA_4_evaluation,FOODS_1_043,FOODS_1,FOODS,CA_4,CA,sold,4.0,NaT,NaN,...,3.329452,2.194497,2968,0.0,3.0,0.700000,1.600000,0,0,0
1336596,FOODS_1_036_CA_2_evaluation,FOODS_1_036,FOODS_1,FOODS,CA_2,CA,sold,2.0,NaT,NaN,...,1.768114,1.713560,2760,0.0,-2.0,0.636364,0.777778,0,0,0

In [28]:
df['wm_yr_wk'].max()

nan

In [4]:
df.shape

(6000000, 125)

In [10]:
for col in df.columns:
    print(f"{col}: {df[col].count()}")

id: 6000000
item_id: 6000000
dept_id: 6000000
cat_id: 6000000
store_id: 6000000
state_id: 6000000
d: 6000000
sales: 6000000
date: 0
wm_yr_wk: 0
weekday: 0
wday: 0
month: 0
year: 0
event_name_1: 0
event_type_1: 0
event_name_2: 0
event_type_2: 0
snap_CA: 0
snap_TX: 0
snap_WI: 0
day: 0
quarter: 0
week_of_year: 0
is_weekend: 0
has_event: 6000000
snap_any: 6000000
sell_price: 0
revenue: 6000000
dayofweek: 0
weekofyear: 0
is_month_start: 0
is_month_end: 0
week_of_month: 0
is_payday_week: 0
is_holiday: 6000000
christmas_period: 0
thanksgiving_week: 0
back_to_school: 0
month_sin: 0
month_cos: 0
dow_sin: 0
dow_cos: 0
snap_benefit_period: 6000000
price_lag_1: 0
price_change_1d: 0
price_increased_1d: 6000000
price_decreased_1d: 6000000
price_lag_7: 0
price_change_7d: 0
price_increased_7d: 6000000
price_decreased_7d: 6000000
price_lag_14: 0
price_change_14d: 0
price_increased_14d: 6000000
price_decreased_14d: 6000000
price_lag_28: 0
price_change_28d: 0
price_increased_28d: 6000000
price_decreased_28d: 6000000
price_volatility_7d: 0
price_volatility_28d: 0
sales_lag_1: 6000000
sales_lag_2: 6000000
sales_lag_3: 6000000
sales_lag_7: 6000000
sales_lag_14: 6000000
sales_lag_21: 6000000
sales_lag_28: 6000000
sales_lag_35: 6000000
sales_lag_42: 6000000
revenue_lag_7: 5989178
revenue_lag_14: 5978356
revenue_lag_28: 5956712
sales_roll_7_mean: 6000000
sales_roll_7_std: 6000000
sales_roll_7_min: 6000000
sales_roll_7_max: 6000000
sales_roll_14_mean: 6000000
sales_roll_14_std: 6000000
sales_roll_14_min: 6000000
sales_roll_14_max: 6000000
sales_roll_28_mean: 6000000
sales_roll_28_std: 6000000
sales_roll_28_min: 6000000
sales_roll_28_max: 6000000
sales_roll_56_mean: 6000000
sales_roll_56_std: 6000000
sales_roll_56_min: 6000000
sales_roll_56_max: 6000000
store_sales_mean_7d: 6000000
store_revenue_mean_7d: 6000000
store_sales_mean_28d: 6000000
store_revenue_mean_28d: 6000000
category_sales_mean_7d: 6000000
category_revenue_mean_7d: 6000000
category_sales_mean_28d: 6000000
category_revenue_mean_28d: 6000000
department_sales_mean_7d: 6000000
department_revenue_mean_7d: 6000000
department_sales_mean_28d: 6000000
department_revenue_mean_28d: 6000000
state_sales_mean_7d: 6000000
state_revenue_mean_7d: 6000000
state_sales_mean_28d: 6000000
state_revenue_mean_28d: 6000000
store_cat_sales_mean_7d: 6000000
store_cat_revenue_mean_7d: 6000000
store_cat_sales_mean_28d: 6000000
store_cat_revenue_mean_28d: 6000000
store_dept_sales_mean_7d: 6000000
store_dept_revenue_mean_7d: 6000000
store_dept_sales_mean_28d: 6000000
store_dept_revenue_mean_28d: 6000000
sales_ewm_7: 6000000
sales_ewm_14: 6000000
sales_ewm_28: 6000000
time_index: 6000000
sales_velocity: 6000000
sales_acceleration: 6000000
sales_ratio_to_7d_avg: 6000000
sales_ratio_to_28d_avg: 6000000
days_since_first_sale: 6000000
zero_sales_flag: 6000000
consecutive_zero_days: 6000000

In [16]:
df['event_type_2'].isnull().sum()

6000000

In [21]:
pd.DataFrame(df.isnull().sum(), columns=['null_count'])

                        null_count
id                               0
item_id                          0
dept_id                          0
cat_id                           0
store_id                         0
...                            ...
sales_ratio_to_7d_avg            0
sales_ratio_to_28d_avg           0
days_since_first_sale            0
zero_sales_flag                  0
consecutive_zero_days            0

[125 rows x 1 columns]

In [30]:
list(df.columns)

['id',
 'item_id',
 'dept_id',
 'cat_id',
 'store_id',
 'state_id',
 'd',
 'sales',
 'date',
 'wm_yr_wk',
 'weekday',
 'wday',
 'month',
 'year',
 'event_name_1',
 'event_type_1',
 'event_name_2',
 'event_type_2',
 'snap_CA',
 'snap_TX',
 'snap_WI',
 'day',
 'quarter',
 'week_of_year',
 'is_weekend',
 'has_event',
 'snap_any',
 'sell_price',
 'revenue',
 'dayofweek',
 'weekofyear',
 'is_month_start',
 'is_month_end',
 'week_of_month',
 'is_payday_week',
 'is_holiday',
 'christmas_period',
 'thanksgiving_week',
 'back_to_school',
 'month_sin',
 'month_cos',
 'dow_sin',
 'dow_cos',
 'snap_benefit_period',
 'price_lag_1',
 'price_change_1d',
 'price_increased_1d',
 'price_decreased_1d',
 'price_lag_7',
 'price_change_7d',
 'price_increased_7d',
 'price_decreased_7d',
 'price_lag_14',
 'price_change_14d',
 'price_increased_14d',
 'price_decreased_14d',
 'price_lag_28',
 'price_change_28d',
 'price_increased_28d',
 'price_decreased_28d',
 'price_volatility_7d',
 'price_volatility_28d',
 'sales_lag_1',
 'sales_lag_2',
 'sales_lag_3',
 'sales_lag_7',
 'sales_lag_14',
 'sales_lag_21',
 'sales_lag_28',
 'sales_lag_35',
 'sales_lag_42',
 'revenue_lag_7',
 'revenue_lag_14',
 'revenue_lag_28',
 'sales_roll_7_mean',
 'sales_roll_7_std',
 'sales_roll_7_min',
 'sales_roll_7_max',
 'sales_roll_14_mean',
 'sales_roll_14_std',
 'sales_roll_14_min',
 'sales_roll_14_max',
 'sales_roll_28_mean',
 'sales_roll_28_std',
 'sales_roll_28_min',
 'sales_roll_28_max',
 'sales_roll_56_mean',
 'sales_roll_56_std',
 'sales_roll_56_min',
 'sales_roll_56_max',
 'store_sales_mean_7d',
 'store_revenue_mean_7d',
 'store_sales_mean_28d',
 'store_revenue_mean_28d',
 'category_sales_mean_7d',
 'category_revenue_mean_7d',
 'category_sales_mean_28d',
 'category_revenue_mean_28d',
 'department_sales_mean_7d',
 'department_revenue_mean_7d',
 'department_sales_mean_28d',
 'department_revenue_mean_28d',
 'state_sales_mean_7d',
 'state_revenue_mean_7d',
 'state_sales_mean_28d',
 'state_revenue_mean_28d',
 'store_cat_sales_mean_7d',
 'store_cat_revenue_mean_7d',
 'store_cat_sales_mean_28d',
 'store_cat_revenue_mean_28d',
 'store_dept_sales_mean_7d',
 'store_dept_revenue_mean_7d',
 'store_dept_sales_mean_28d',
 'store_dept_revenue_mean_28d',
 'sales_ewm_7',
 'sales_ewm_14',
 'sales_ewm_28',
 'time_index',
 'sales_velocity',
 'sales_acceleration',
 'sales_ratio_to_7d_avg',
 'sales_ratio_to_28d_avg',
 'days_since_first_sale',
 'zero_sales_flag',
 'consecutive_zero_days']

In [ ]:
df.info().

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000000 entries, 0 to 5999999
Columns: 125 entries, id to consecutive_zero_days
dtypes: category(8), datetime64[ns](1), float32(65), float64(15), int16(19), int8(14), object(3)
memory usage: 2.6+ GB

In [32]:
df.describe(include='all')

,id,item_id,dept_id,cat_id,store_id,state_id,d,sales,date,wm_yr_wk,...,sales_ewm_14,sales_ewm_28,time_index,sales_velocity,sales_acceleration,sales_ratio_to_7d_avg,sales_ratio_to_28d_avg,days_since_first_sale,zero_sales_flag,consecutive_zero_days
count,6000000,6000000,6000000,6000000,6000000,6000000,6000000,6.000000e+06,0,0.0,...,6.000000e+06,6.000000e+06,6.000000e+06,6.000000e+06,6.000000e+06,6.000000e+06,6.000000e+06,6000000.0,6.000000e+06,6.000000e+06
unique,1546,310,2,1,5,2,2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,FOODS_1_001_CA_1_evaluation,FOODS_1_001,FOODS_1,FOODS,CA_1,CA,d,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,3882,19410,4192560,6000000,1201848,4800462,3000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.019587e-01,NaT,NaN,...,6.001068e-01,5.979731e-01,1.940197e+03,2.265000e-04,-2.083333e-05,1.726870e-01,1.854740e-01,0.0,8.151285e-01,3.219463e+00
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaT,NaN,...,0.000000e+00,0.000000e+00,0.000000e+00,-1.280000e+02,-1.930000e+02,0.000000e+00,0.000000e+00,0.0,0.000000e+00,-1.280000e+02
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaT,NaN,...,0.000000e+00,0.000000e+00,9.700000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,1.000000e+00,-1.400000e+01
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaT,NaN,...,0.000000e+00,0.000000e+00,1.940000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,1.000000e+00,0.000000e+00
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaT,NaN,...,5.620785e-01,5.882726e-01,2.911000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,1.000000e+00,3.100000e+01
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.570000e+02,NaT,NaN,...,5.514099e+01,4.156034e+01,3.881000e+03,1.030000e+02,1.290000e+02,6.478723e+00,2.118261e+01,0.0,1.000000e+00,1.270000e+02
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.077331e+00,NaN,NaN,...,1.573303e+00,1.525904e+00,1.120604e+03,1.858363e+00,3.169185e+00,4.384869e-01,5.014061e-01,0.0,3.881933e-01,5.776764e+01

In [3]:
df['date']

0         NaT
1         NaT
2         NaT
3         NaT
4         NaT
           ..
5999995   NaT
5999996   NaT
5999997   NaT
5999998   NaT
5999999   NaT
Name: date, Length: 6000000, dtype: datetime64[ns]